/* Base Themes */
:root {
  --logoPrimary: #6c6f5e;
  --logoBackground: #202020;
  --lightShade: #DBD8C8;
  --lightAccent: #6C6F5E;
  --mainBrand: #202020;
  --darkAccent: #5F6463;
  --darkShade: #1B231F;
  --defaultBtn: #999;
  --btnText: #fff;
  --primaryBtn: #96b6b5;
  --infoBtn: #524843;
  --successBtn: #62b16e;
  --warningBtn: #e0a136;
  --dangerBtn: #f44336;
}

body {
  background: var(--mainBrand);
}

/* Styles for desktop and laptop screens */
@media (min-width: 1024px) {
  /* Your styles for large screens go here */
}


/* Styles for tablets (iPad) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Your styles for tablets go here */
}

/* Styles for mobile devices (iPhone) */
@media (max-width: 767px) {
  /* Your styles for mobile devices go here */
}