.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
}

.loginForm {
  border: 2px solid white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  height: 50vh;
}