.defaultBtn {
  margin: 0.5rem;
  background: var(--lightAccent);
  color: var(--btnText);
  width: 20vw;
  border-radius: 30px;
  border: none;
}

.defaultBtn:hover {
  border: none;
  background-color: var(--lightShade);
  color: var(--darkAccent);
}

/* Styles for desktop and laptop screens */
@media (min-width: 1024px) {
  /* Your styles for large screens go here */
}


/* Styles for tablets (iPad) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Your styles for tablets go here */
}

/* Styles for mobile devices (iPhone) */
@media (max-width: 767px) {
  /* Your styles for mobile devices go here */
}