.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
}

.loginForm {
  border: 2px solid white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  height: 50vh;
}

/* Styles for desktop and laptop screens */
@media (min-width: 1024px) {
  /* Your styles for large screens go here */
}


/* Styles for tablets (iPad) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Your styles for tablets go here */
}

/* Styles for mobile devices (iPhone) */
@media (max-width: 767px) {
  /* Your styles for mobile devices go here */
}